.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:focus .nav-link,
.navbar-dark .nav-item:hover .nav-link {
        color: lime;
}

.main-container {
	margin-top: 20px;
}

.card-header {
	font-weight: bold;
	color: white;
}

.errors {
	color: #bd2130;
	display: block;
	padding-left: 13px;
}

.pagination {
	margin-top: 10px;
	margin-bottom: 20px;
}

.homepage-status {
	text-align: center;
	margin-top: 30px;
	font-size: larger;
}

.edit-links {
	margin-top: 10px;
}

.m-0-bottom {
    margin-bottom: 0 !important;
}

.m-10-top {
	margin-top: 16px !important;
}
